<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
          {% else %}
            {{ site.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              
              <!-- The old 'for' loop has been replaced with this manual list -->
              <li class="nav__item">
                <a href="{{ '/' | relative_url }}" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="{{ '/service/' | relative_url }}" class="nav__link">Service</a>
              </li>
              <li class="nav__item">
                <a href="{{ '/cv/' | relative_url }}" class="nav__link">CV</a>
              </li>
              <li class="nav__item">
                <a href="{{ '/contact/' | relative_url }}" class="nav__link">Contact</a>
              </li>
              <li class="nav__item">
                <a href="{{ '/atelier/' | relative_url }}" class="nav__link">Atelier</a>
              </li>

            </ul>
          </div>
        </nav>

        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
          <i class="nav__icon nav__icon-search ion ion-md-search"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->

{% include search.html %}
