---
layout: default
---

<div class="container animate">
  <div class="page">
    <h1 class="page__title">Posts tagged '{{ page.tag }}'</h1>
    <ul class="tag-archive-list">
      {% for post in site.tags[page.tag] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="tag-archive-list__date"> - {{ post.date | date_to_long_string }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Simple styles for the tag list -->
<style>
  .tag-archive-list {
    list-style: none;
    padding-left: 0;
  }
  .tag-archive-list li {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .tag-archive-list a {
    border-bottom: 2px solid var(--border-color);
  }
  .tag-archive-list__date {
    font-size: 14px;
    color: var(--text-alt-color);
  }
</style>
